%tr
  %td
    = link_to specialization.name, [:admin, specialization]
  %td
    = link_to "Edit", [:edit, :admin, specialization], class: "btn btn-primary"
    = link_to "Delete", [:admin, specialization], class: "btn btn-danger", method: :delete, data: { confirm: "Are you sure?" }
