%div.button-group
  = link_to "New Class", [:new, :admin, :klass], :class => 'btn btn-default btn-xs'
  = link_to "Edit Class", [:edit, :admin, klass], :class => 'btn btn-default btn-xs' if !klass.try(:any?) && !klass&.id.nil?
  = link_to "Delete Class", [:admin, klass], :class => 'btn btn-danger btn-xs', :method => :delete if !klass.try(:any?) && !klass&.id.nil?
