%div.button-group
  = link_to "New Class", [:new, :admin, :klass], :class => 'btn btn-default btn-xs'
  = link_to "Edit Spell", [:edit, :admin, klass], :class => 'btn btn-default btn-xs' if !klass.try(:any?) && !klass.try(:id).nil?
  = link_to "Delete Spell", [:admin, klass], :class => 'btn btn-danger btn-xs', :method => :delete if !klass.try(:any?) && !klass.try(:id).nil?
