%h1
  =@klass.name

= render 'klass_actions', klass: @klass

%div.specializations
  = render 'klass_specializations', klass: @klass
%div.spells
  = render '/shared/spell_list', entity: @klass

-# TODO: show spells assigned to the class
