%h1
  =@klass.name

= render 'klass_actions', klass: @klass

%div= render 'klass_specializations', klass: @klass
%div= render 'klass_spell_list', klass: @klass

-# TODO: show spells assigned to the class
