%h1 Spell List
= render 'spell_actions', spell: @spells
%div.row
  %div.col-xs-9
    = render 'spell_table', spells: @spells
    = paginate @spells
  %div.col-xs-3
    = render 'filter_list', spells: @spells
